
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebMVC.Models.Product

<h2>Index</h2>
<br />
<br />
@Html.EditorForModel()
@Html.EditorFor(m => m.Role/*, "ListTemplates"*/)
<br />
<br />
<br/>
@Html.DisplayFor(m => m.Role/*, "ListTemplate"*/)

