<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in list2">
        <td>{{$index+1}}</td>
        <td>{{item.prop1}}</td>
        <td>{{item.prop2}}</td>
    </tr>
    </tbody>
</table>
